
@media (max-width: 585px){


.container-fluid {
    padding: 4% 7%;
}
    /* navbar */

.navbar-toggler-icon {
    color: white;
}

.navbar .container-fluid {
    padding: 4% 7%;
}


/* home */

.home-image img{
    width: 16rem;
}

.social-icons a {
    max-width: 3.3rem;
    max-height: 3.3rem;
}

.home-heading h1{
    font-size: 2.8rem;
}

.home-heading h3{
    font-size: 1.5rem;
}

/* about section */

.about-image img{
    height: 16rem;
    width: 16rem;
}

/* project-section */

.project-layer {
    padding: 0 2rem;
}

.project-layer h4 {
    font-size: 1rem;
}

.project-layer p {
    font-size: 0.8rem;
}

.contact-section {
    padding: 0;
}

.form-box {
    padding: 10px;
}

.contact-details {
    padding: 10px;
}

}

@media (max-width: 1200px) {
    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .about-box {
        padding: 1.5rem;
    }

    .about-section .container-fluid .row{
        margin-bottom: 2rem;
    }
    
    
}

@media (max-width: 900px) {
    .project-container {
        margin: 0.5rem;
        gap: 3rem;
    }

    .skillCard-img {
        max-height: 2rem;
        max-width: 2rem;
    }
    
    .skills-col{
        padding: 1.2rem;
        margin: 1rem;
    }

    .skills-col h5{
        font-size: 0.8rem;
    }

    .skills-section-heading {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .projects-section-heading {
        margin-top: 2rem;
    }

    .project-container {
        margin-bottom: 2.5rem;
    }
    
    .contact-heading {
        margin-top: 2rem;
    }

    .contact-button {
        margin-bottom: 2rem;
    }
}

@media (max-width: 991.5px) {
    .nav-item {
        margin-left: 0;
    }
}