/* default properties */

body {
    color: #ffffff;
}

.container-fluid {
    padding: 4% 12%;
}

.default-button {
    background-color: #0ef;
    height: 2.9rem;
    width: auto;
    border-radius: 0.625rem;
    padding: 0.625rem;
}

.default-button a{
    text-decoration: none;
    color: black;
}

.default-button:hover {
    background-color: rgb(17, 193, 205);
}

.coloured-text {
    color: #0ef;
}

/* Navbar */

.navbar-brand {
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.container-fluid .navbar-brand {
    font-size: 1.4rem;
    color: white;
}

.navbar .container-fluid {
    padding: 2% 12%;
}


.nav-item {
    font-size: 1.3rem;
    margin-left: 2.5rem;
    
}

.nav-item a{
    color: white;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.nav-item a:hover{
    color: #0ef;
}

.navbar-button{
    background-color: rgb(39, 55, 77);
    border: 2px solid #0ef;
    margin-left: 20px;
    height: 2.9rem;
    width: auto;
    border-radius: 0.625rem;
    padding: 0.625rem;
}

.navbar-button a{
    color: #0ef;
    text-decoration: none;
}

.navbar-button:hover {
    background-color: #0ef;
    color: #000;
}

.navbar-button a:hover {
    color: black;
}

/* Home */

.home-section {
    background-color: #27374d;
}

.home-box {
    padding-bottom: 100px;
}

.home-heading {
    margin-bottom: 4rem;
}

.home-heading h1{
    text-align: left;
    font-size: 4rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.home-heading h3{
    text-align: left;
    font-size: 2rem;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-heading h3:nth-of-type(2) {
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-image {
    text-align: center;
}

.home-image img{
    /* height: 20rem; */
    width: 20rem;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 2s;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: .2rem solid #0ef;
    border-radius: 50%;
    text-decoration: none;
    margin: 2rem 1.5rem 2rem 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-icons a:hover {
    opacity: 0.6;
}

.multiple-text {
    display: inline-block;
}

/* about section */
.about-section {
    background-color: #526d82;
}

.about-box .row{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.about-image img{
    height: 24rem;
    width: 24rem;
}

.about-description {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.about-para {
    margin-top: 2.5rem;
}

.about-button {
    margin-top: 2.5rem;
}

.about-button a{
    text-decoration: none;
    color: black;
}

/* skills-section */

.skills-box {
    background-color: rgb(39, 55, 77);
}

.skills-col{
    background-color: rgb(47, 68, 93);
    border-radius: 0.625rem;
    text-align: center;
    padding: 2.5rem;
    margin: 1.25rem;
}

.skills-col:hover {
    border: 1px solid #0ef;
}

.skills-row {
    margin-top: 3.75rem;
    margin-bottom: 2.5rem;
}

.skillCard-img {
    max-height: 2.5rem;
    max-width: 2.5rem;
}

.skills-section-heading {
    text-align: center;
}

.skill-card-title {
    margin: 0.938rem;
}

/* Projects-section */

.project-section {
    background-color: rgb(82, 109, 130);
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    margin: 3.125rem;
}

.project-box {
    position: relative;
    border-radius: 0.625rem;
    box-shadow: 0 0 1rem rgb(39, 55, 77);
    overflow: hidden;
}

.project-box img {
    width: 100%;
    /* opacity: 0.8; */
    transition: .5s ease;
}

.project-box:hover img{
    transform: scale(1.1);
}

.project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(39, 55, 77), #0ef);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
    opacity: 0.8;
}

.project-box:hover .project-layer{
    transform: translateY(0);
}

.project-layer h4 {
    font-size: 1.5rem;
}

.project-layer p {
    font-size: 1rem;
    margin: .3rem 0 1rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 50%;
}

.project-layer a i{
    font-size: 1rem;
    color: rgb(39, 55, 77);
}

.projects-section-heading {
    text-align: center;
    margin-bottom: 4rem;
}

/* contact-section */
.dark-text {
    font-weight: bold;
}

.contact-section {
    background-color: #27374d;
}

.form-box {
    padding: 50px;
}

.contact-heading {
    text-align: center;
    margin-bottom: 3rem;
}

.contact-form {
    margin: auto;
    max-width: 40rem;
}

.contact-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    background-color: #526d82;
    color: white;
}

.contact-input:focus {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: #526d82;
    color: white;

}

.contact-button {
    padding: 5px;
    border-radius: 5px;
}

.contact-details {
    padding: 50px;
    border-radius: 30px 0 0 30px;
}

.contact-details-para {
    margin: 0;
    padding: 0 20px 0 20px;
}

.contact-details-element {
    margin: 30px;
}

/* footer section */
.footer-section {
    background-color: rgb(82, 109, 130);
    text-align: center;
}

/* animations */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
